name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 using SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "===== FIX SSH CONFIG ====="
            sudo bash -c 'echo "CASignatureAlgorithms +ssh-rsa" > /etc/ssh/sshd_config.d/custom.conf'
            echo "===== FIX SSH PERMISSIONS ====="
            chmod 700 ~/.ssh || true
            chmod 600 ~/.ssh/authorized_keys || true


            echo "===== INSTALL DOCKER IF NOT INSTALLED ====="
            if ! command -v docker &> /dev/null
            then
              sudo apt update
              sudo apt install -y docker.io
              sudo systemctl enable docker
              sudo usermod -aG docker $USER
            fi

            echo "===== CLONE OR UPDATE PROJECT ====="
            mkdir -p /home/ubuntu/myapp
            cd /home/ubuntu/myapp

            if [ ! -d ".git" ]; then
              git clone https://github.com/Event-Hive-25/event_hive_app.git .
            else
              git reset --hard
              git pull origin main
            fi

            echo "===== STOP & REMOVE OLD DOCKER CONTAINER ====="
            docker stop myapp || true
            docker rm myapp || true

            echo "===== BUILD NEW DOCKER IMAGE ====="
            docker build -t myapp:latest .

            echo "===== RUN NEW CONTAINER ====="
            docker run -d --name myapp -p 5000:5000 myapp:latest

            echo "===== DEPLOYMENT COMPLETE ====="
